.main {
  min-height: 25v;
  font-family: Helvetica;
  padding: 0 10px;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
}

.textarea {
  width: 100%;
  height: 20rem;
}

.label {
  font-size: 1.2rem;
  margin-bottom: -0.7em
}

.select {
  display: flex;
}

.select > div {
  margin: 0 0.5em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.fieldset {
  width: 20rem;
  border: 1px solid #000;
}

.form {
  padding: 0.5rem 0;
}

.error {
  background-color: #ffd2cf;
}